body {
    margin: 0;
    padding: 0;
}

.principal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.menu {
    width: 20%;
    height: 80vh;
    background-color: rgb(26, 50, 42);
}

.contenededor {
    width: 80%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
}

.reproductor {
    width: 100%;
    height: 20vh;
    background-color: rgba(36, 36, 36, 0.744);
}

.buscador {
    width: 100%;
    height: 10%;
    background-color: rgb(118, 81, 81);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.contenido {
    width: 100%;
    height: 90%;
    background-color: rgb(0, 0, 0); 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 15px;
}

.card {
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.img-style {
    width: 100px !important;
    height: 100% !important;
}

.cardStyle {
    background-color: rgb(19, 28, 40);
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.songname {
    font-family: 'Genos', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: rgb(139, 150, 160);
}

.artistname {
    font-family: 'Genos', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    background-color: rgb(139, 150, 160);
}

.inputBuscador {
    background-color: gainsboro;
    width: 70%;
    border-radius: 10px;
}

.iconoBuscar {
    margin-right: 10px;
    color: #af7d12e3;
}